* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

body {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
}

.header,
.container.one,
.footer {
    background-color: #1F2937;
}

/* Header styles */

#logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

/* .container.one styles */

/* First, let's address all common .container classes*/

.container {
    display: flex;
    flex-basis: 500px;
    justify-content: center;
    align-items: center;
    border: 1px solid black; /* Remove this in the end */
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 16px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.heading.text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 300px;
}

.heading.subtext {
    color: #F9FAF8;
    font-size: 18px;
}

.hero-content button {
    font-size: 14px;
    font-weight: 600;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 8px;
    border-style: none;
}

.container.one img {
    display: flex;
    width: 620px;
    height: 280px;
    background-color: #F9FAF8;
}

/* .container.two styles */

.container.two {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container.two .heading.text {
    width: auto;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}

.card-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.card img {
    width: 200px;
    border-radius: 10px;
    border-color: #3882F6;
}

.card .heading.subtext {
    color: black;
    font-size: 18px;
}